/* GLOBAL RESET */
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Prevent Bootstrap rows from overflowing */
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* FIX top container overflow */
.top_container::before {
  width: 100% !important;
  left: 0;
}

/* -----------------------------------
MEDIA QUERIES
------------------------------------*/

/* 1120px */
@media (max-width: 1120px) {}

/* 992px */
@media (max-width: 992px) {

  .top_container,
  .top_container.sub_pages {
    height: auto;
  }

  .top_container.sub_pages::before {
    background-size: cover;
  }

  .client_box-container,
  .service_detail-container {
    width: 90%;
  }

  .hero-container {
    flex-direction: column;
  }

  .hero_detail-box {
    width: 100%;
    margin-bottom: 45px;
  }

  .hero_img-container {
    width: 100%;
  }

  /* Removing overflow width */
  .top_container::before {
    width: 100% !important;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
  }

  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon-mobile.png);
    background-position: center;
  }
}

/* 820px */
@media (max-width: 820px) {

  .admission_container {
    width: 100%;
    max-width: 450px;
    flex-direction: column;
  }

  .admission_img-box,
  .admission_detail {
    width: 100%;
  }

  .admission_img-box {
    border-radius: 25px 25px 0 0;
  }

  .admission_detail {
    border-radius: 0 0 25px 25px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .hero_detail-box {
    text-align: center;
  }
}

/* 576px */
@media (max-width: 576px) {

  .vehicle_img-box {
    width: 80%;
    margin: 0 auto;
  }

  /* FIX CAROUSEL BUTTON OVERFLOW */
  .carousel-control-prev,
  .carousel-control-next {
    top: 100%;
    transform: translateY(50%);
  }

  .carousel-control-prev {
    left: 25%;
  }

  .carousel-control-next {
    right: 25%;
  }

  .vehicle_section .carousel-control-prev-icon,
  .vehicle_section .carousel-control-next-icon {
    width: 35px;
    height: 35px;
    background-size: 8px;
  }

  .contact_section,
  .client_section {
    background-image: none;
  }
}

/* 480px */
@media (max-width: 480px) {

  .vehicle_img-box {
    width: 100%;
  }

  .admission_container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .client_container {
    width: 100%;
  }

  .client_detail {
    flex-direction: column;
  }

  .client_detail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .client_detail .client_img-box {
    width: 100px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

/* 400px */
@media (max-width: 400px) {}

/* 360px */
@media (max-width: 360px) {}

/* Large screens */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
